<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475255074539-gcpsidrf4ddshou2j9mm0kc2riq82v3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475255074539-gcpsidrf4ddshou2j9mm0kc2riq82v3r</string>
	<key>API_KEY</key>
	<string>AIzaSyC4hP06FKH5Fdc4u35IammRxoCt2cyxVAo</string>
	<key>GCM_SENDER_ID</key>
	<string>475255074539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>softhoon.Shared</string>
	<key>PROJECT_ID</key>
	<string>phoneauthtest-f5364</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthtest-f5364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:475255074539:ios:2909c2b58dfb06f803d8ae</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauthtest-f5364.firebaseio.com</string>
</dict>
</plist>
